@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
* {
  list-style-type: none;
}
.App {
  font-family: "Nunito Sans", sans-serif;
}

/*-------------------------------------------------------------------
    1.Home Page
-------------------------------------------------------------------*/

.home-page {
  background: url("./assests/homeBck.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.home-text-big-one {
  font-size: 65px;
  font-weight: 900;
  margin-top: 70px;
}

.home-text-small {
  font-weight: 600;
  font-size: 20px;
}

.home-contents {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 56);
}

/*-------------------------------------------------------------------
    2.About Page
-------------------------------------------------------------------*/

.about-page {
  background: url("./assests/dottet_bg.png") no-repeat;
  background-size: cover;
}

.about-text {
  text-align: center;
}

.abt-header-text {
  font-weight: 700;
  font-size: 50px;
  color: #6190e8;
}

/*-------------------------------------------------------------------
    3.Contact Page
-------------------------------------------------------------------*/

.contact-page {
  background: url("./assests/contactImg.jpg");
  background-size: cover;
  height: 100vh;
}

/*-------------------------------------------------------------------
    4.Course
-------------------------------------------------------------------*/

.course {
  align-items: center;
  margin-bottom: 40px;
}

.course-btn {
  margin: 20px 0 20px 0;
  padding: 30px 0 30px 0;
}

.course-title {
  font-weight: 700;
  font-size: 50px;
  color: #ffdc00;
}
/*-------------------------------------------------------------------
    5.Success Stories
-------------------------------------------------------------------*/

.success-stories {
  background: #d5fafc;
}

.success-header-text {
  font-weight: 700;
  font-size: 50px;
  color: rgb(25, 231, 25);
  padding: 30px 0 30px 0;
}

/*-------------------------------------------------------------------
    Footer Page
-------------------------------------------------------------------*/

.footer-contents {
  display: flex;
  justify-content: space-between;
}

.footer-contents-right {
  display: flex;
  justify-content: space-between;
}

.footer-right-items {
  padding: 0 10px 0 10px;
}

.footer-link-heading {
  padding: 50px 0 0 0;
}
